*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{background-color: #232c35;}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.area{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #000000;
}

header{
    margin-bottom: 20px;
    border-bottom: 1px solid;
    text-align: center;
}

.aceitacao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.but{
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
}

#sim{
    margin-right: 100px;
}

#nao{
    position: absolute;
    margin-left: 100px;
}

.but:hover{background-color: rgb(76, 7, 141);}